#navbar-container {
  height: 10vh;
  margin-bottom: 20px;
  margin-top: 20px
}

#navbar-container > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navbar-container > ul > li {
  list-style: none;
  margin-right: 10px;
}

#main-content {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.search-bar {
  margin: 20px ;
}

@media (max-width: 760px) { 
  /* For mobile */

  #navbar-container {
    margin-bottom: 40px;
  }

  #navbar-container > ul {
    flex-direction: column;
    padding: 0;
  }

  .search-bar {
    margin: 20px ;
  }

  #main-content{
    display: grid;
    grid-template-columns: 1fr;
  }

}

@media (min-width: 761px) and (max-width: 1200px)  { 
  /* For tablet */

  #main-content{
    display: grid;
    grid-template-columns: 1fr;
  }

  
}



